{plugins, [rebar3_hex]}.

{deps, [
  {lager, "3.9.2"},
  {gun, "1.3.3"},
  {http_signature, "2.0.0"},
  {jsx, "2.10.0"},
  {kerlberos, "1.1.1"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [sftp_manta]}
]}.

{relx, [
    {release, {sftp_manta, "1.0.0"}, [sftp_manta]},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {exclude_modules, [{gun, [gun_data_h]}]}
]}.

{overrides, [
    {del, http_signature, [{erl_opts, [warnings_as_errors]}]}
]}.
