{plugins, [rebar3_hex]}.

{deps, [
  {lager, "~> 3.9"},
  {gun, "~> 2.0"},
  {jsx, "~> 2.10"},
  {kerlberos, "~> 1.1"},
  {http_signature, {git, "https://github.com/eait-itig/erlang-http_signature", {branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [sftp_manta]}
]}.

{relx, [
    {release, {sftp_manta, "1.0.0"}, [sftp_manta]},
    {include_erts, false},
    {extended_start_script, true},
    {sys_config, "config/sys.config"},
    {vm_args, "config/vm.args"},
    {exclude_modules, [{gun, [gun_data_h]}]}
]}.

{overrides, [
    {override, gun, [
        %% see https://github.com/erlang/rebar3/issues/2364
        %% and https://github.com/ninenines/cowboy/issues/1670
        {deps, [
            {cowlib, "~> 2.15"},
            {ranch, "~> 1.8"}
        ]}
    ]}
]}.
